<mat-card>
     <h1 class="text-center">Your Profile Details</h1>
     <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="conatiner">
                 <div class="container text-center">

                  <img src="logo.png" alt="" class="profile-image">
                  <h1 class="mt20">Himanshi Gupta</h1>
                </div>
                  <div class="row">
                    <div class="cl-md-10 offset-md-1">
                        <!--table Details-->
                    <table class="table text-center">
                         <tr>
                           <td>Username</td>
                           <td>himanshi004</td>
                         </tr>
                         <tr>
                          <td>Userid</td>
                          <td>EXAM12</td>
                        </tr>
                        <tr>
                          <td>Phone</td>
                          <td>6262942331</td>
                        </tr>
                        <tr>
                          <td>Role</td>
                          <td>Admin</td>
                        </tr>
                        <tr>
                          <td>Status</td>
                          <td>Active</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
     </mat-card-content>
     <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
     </mat-card-actions>
</mat-card>
